* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: var(--Background, #F1F1F1);
}


nav {
    display: flex;
    height: 56px;
    padding: 0 16px;
    justify-content: space-between;
    align-items: center;
    background: var(--color-scales-gray-16, #1A1A1A);
}

.mobile-logo {
    display: none;
}



.nav-input {
    width: 480px;
    height: 37px;
    padding: 8px;
    border-radius: 8px;
    border: 1px solid var(--stroke-s-200, #616161);
    background: var(--grey-g-200, #303030);
}

.nav-input:hover {
    border-radius: 8px;
    border: 1px solid var(--stroke-s-100, #E1E1E1);
    background: var(--grey-g-200, #303030);
}



.left-navButtons {
    display: flex;
    gap: 8px ;
    align-items: center;
}

.notify {
    width: 32px;
    height: 32px;
    border-radius: 8px;
    background: var(--grey-grey-200, #303030); 
    border: none;           
}


.notify:hover, .profileName:hover {
    border-radius: 8px;
    background: var(--font-mid-2, #616161);
}


.profileName {
    height: 32px;
    padding-left: 8px;
    border-radius: 8px;
    background: var(--grey-grey-200, #303030);
    color: var(--font-light, #E3E3E3);
    font-family: 'Inter', sans-serif;
    font-size: 12px;
    font-weight: 500;
    line-height: 130%;
    border: none;
}

.profileSpan {
    width: 23px;
    border-radius: 6px;
    padding: 7px 5px;
    background: #36FBA1;
    margin-left: 8px;
    color: rgba(0, 0, 0, 0.40);
    font-family: 'Inter', sans-serif;
    font-size: 12px;
    font-weight: 500;
    line-height: 130%;
}

.mobile-profileName {
    display: none;
}

/* this is the profile dropdown css  */

.profileDropdown {
    position: absolute;
    left: 75.4%;
    height: 398px;
    width: 320px;   
    padding: 5px;
    margin-top: 8px;
    border-radius: 14px;
    border: 1px solid var(--stroke-s-50, #DBDBDB);
    background: var(--White, #FFF);
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.05);
}

#profileDrop {
    display: none;
}

#littleProfile {
    margin: auto;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    border-radius: 8px;
    background: var(--states-hover, #F1F1F1);
}


#littleProfile > p {
    color: var(--font-dark, #303030);
    font-family: 'Inter', sans-serif;
    font-size: 13px;
    font-weight: 600;
    line-height: 140%; 
}


#littleProfile > p > span {
    color: rgba(0, 0, 0, 0.40);
    font-family: 'Inter', sans-serif;
    font-size: 10.5px;
    font-weight: 500;
    line-height: 140%;
    margin-right: 5px;
    padding: 9.625px 5.875px 10.375px 6.125px;
    border-radius: 5.25px;
    background: #36FBA1;
}


#allStoreBox {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-top: 10px;
    padding: 6px 7px;
}

#allStoreBox > p {
    color: var(--font-dark, #303030);
    font-family: 'Inter', sans-serif;
    font-size: 13px;
    font-weight: 400;
    line-height: 140%;
}

.profileDropdown > ul > li {
    padding: 6px 10px;
    list-style-type: none;
}

.profileDropdown > ul > li > a {
    text-decoration: none;
    color: var(--font-dark, #303030);
    font-family: 'Inter', sans-serif;
    font-size: 13px;
    font-weight: 400;
    line-height: 140%;

    
}


#davidMicheal {
    color: var(--font-dark, #303030);
    font-family: 'Inter', sans-serif;
    font-size: 13px;
    font-weight: 700;
    line-height: 140%;
    padding-bottom: 0px;
}

#davidEmail {
    color: var(--grey-grey-100, var(--font-mid-2, #616161));
    font-family: 'Inter', sans-serif;
    font-size: 12px;
    padding-top: 0px;
    font-weight: 400;
    line-height: 130%;
}

.rule {
    margin: 10px 0px;
    border: 1px solid #E1E1E1;
}

.notifyDropdown {
    position: absolute;
    left: 70%;
    margin-top: 8px;
    width: 394px;
    height: 120px;
    padding: 16px;
    border-radius: 14px;
    border: 1px solid var(--stroke-s-50, #DBDBDB);
    background: var(--White, #FFF);
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.05);
}

#notifyDrop {
    display: none;
}

.alertBoxFilter {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#alerts-P {
    color: var(--font-dark, #303030);
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    font-weight: 600;
    line-height: 140%;
}

.alertBtn {
    border: transparent;
    background: transparent;
}

#alertsInfo {
    padding: 16px;
    margin-top: 10px;
    background: var(--states-hover, #F1F1F1);
}

#alertsInfo > p {
    color: var(--font-mid-2, #616161);
    font-family: 'Inter', sans-serif;
    font-size: 13px;
    font-weight: 600;
    line-height: 140%; 
}






main {
    width: 57%;
    height: 300px;
    margin: 32px auto;
}

.planSelectionBox {
    height: 56px;
    display: flex;
    align-items: center;  
    padding: 0px 16px;  
    justify-content: space-between;
    border-radius: 8px;
    background: var(--grey-grey-300, #1A1A1A);
}

.planSelectionBox > h2 {
    color: var(--font-light, #E3E3E3);
    font-family: 'Inter', sans-serif;
    font-size: 13px;
    font-weight: 500;
    line-height: 140%;
}

.planSelectionBox > div {
    display: flex;
    gap: 8px;
}

.select--plan {
    width: 99px;
    padding-top: 5px;
    border-radius: 6px;
    border: 1px solid rgba(0, 0, 0, 0.10);
    background: var(--White, #FFF);
    box-shadow: 0px 2px 0px 0px #B5B5B5;
    color: var(--font-dark, #323232);
    font-family: 'Inter', sans-serif;
    font-size: 12px;
    font-weight: 600;
    line-height: 130%;
}

#sel-plan {
    text-decoration: none;
    color: var(--font-dark, #323232);
}






.web-cancelButton {
    border: none;
    background: transparent;
}

.mobile-cancelButton {
    display: none;
}


.mainSetupContainer {
    margin-top: 16px;
    padding: 13px 13px;
    border-radius: 18px;
    border: 1px solid var(--stroke-s-50, #DBDBDB);
    background: var(--White, #FFF);
    box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.05);
}



.setup-guide {
    display: flex;
    justify-content: space-between;
}

.setup-guide > div > h2 {
    color: var(--font-dark, #303030);
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    font-weight: 600;
    line-height: 140%;
}

.personalized {
    color: var(--font-dark, #303030);
    font-family: 'Inter', sans-serif;
    font-size: 13px;
    margin: 4px 0 16px 0;
    font-weight: 400;
    line-height: 140%;
}


.loadingBox-Container {
    display: flex;
    align-items: center;
    gap: 8px;
}


.loading--p {
    color: var(--font-dark, #303030);
    font-family: 'Inter', sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 130%;
}


.loadingBox {
    position: relative;
    width: 72px;
    height: 4px;
    border-radius: 20px;
    background: var(--Background, #F1F1F1);
}

.loading--Content {
    position: absolute;
    width: 0%;
    height: 4px;
    border-radius: 20px;
    background: #1A1A1A;
    transition: width 0.5s ease-in-out;
}


.setup-guide > div > button {
    border: none;
    background: transparent;
}



#guideBox, #rollUp {
    display: none;
    margin-top: 20px;
}



.first-setup {
    /* height: 141px; */
    border-radius: 10px;
    background: #F3F3F3;
    padding: 8px;
    margin-bottom: 12px;
}

.firstCus-box {
    display: flex;
    align-items: center;
    gap: 8px;
}

/* #checkboxContainer {
    border: 1px solid black;
} */

.checkbox1 {
    border: none;
}

.checkbox11 {
    display: none;
    border: none;
}

.checkBoxHover {
    display: none;
}

.checkbox1:hover .checkBoxHover {
    display: block;
}

.checkbox1:hover .checkBoxStatic {
    display: none;
}

.checkBoxActive {
    display: none;
}

.checkbox1:active .checkBoxActive {
    display: block;

}

.checkbox1:active .checkBoxStatic {
    display: none;
}

.checkbox1:active .checkBoxHover {
    display: none;
}

.showInflex {
    display: flex;
}

.show {
    display: block;
}

.unshow {
    display: none;
}



.firstCus-box > h2 {
    color: var(--font-dark, #303030);
    font-family: "Inter", sans-serif;
    font-size: 13px;
    font-weight: 600;
    line-height: 140%;
}

.setupInfo-box {
    display: none;
    justify-content: space-between;
    padding-left: 31px;
}




.setupInfo-innerbox > p, .setupInfo-innerbox > a {
    color: var(--font-mid-2, #616161);
    font-family: 'Inter', sans-serif;
    font-size: 13px;
    font-weight: 500;
    line-height: 140%;
}

.setupInfo-innerbox > p {
    margin-top: 12px;
}

.setupInfo-innerbox > a {
    color: var(--states-focused, #005BD3);
    font-size: 14px;
    text-decoration: none;
}

.doubleBtnBox {
    display: flex;
    gap: 16px;
}

.setupInfo-innerbox > button, .doubleBtnBox > button {
    display: block;
    color: var(--font-light, #F6F3F6);
    font-family: 'Inter', sans-serif;
    font-size: 12px;
    margin-top: 30px;
    font-weight: 600;
    line-height: 130%;
    padding: 6px 12px;
    border-radius: 6px;
    border-top: 1.5px solid var(--stroke-light-100, rgba(255, 255, 255, 0.20));
    border-right: 1.5px solid var(--stroke-light-100, rgba(255, 255, 255, 0.20));
    border-left: 1.5px solid var(--stroke-light-100, rgba(255, 255, 255, 0.20));
    background: #404040;
    box-shadow: 0px 0px 0px 1.5px #333, 0px 1px 0px 1.5px #333, 0px 2px 0px 0px #000;
}

.setupInfo-innerbox > button:active {
    border-radius: 6px;
    background: #2B2B2B;
    box-shadow: 0px 0px 0px 1.5px #333, 0px 3px 0px 0px #000 inset;
}

.setupInfo-innerbox > button:focus {
    border-radius: 6px;
    border-top: 1.5px solid var(--stroke-light-100, rgba(255, 255, 255, 0.20));
    border-right: 1.5px solid var(--stroke-light-100, rgba(255, 255, 255, 0.20));
    border-left: 1.5px solid var(--stroke-light-100, rgba(255, 255, 255, 0.20));
    background: #404040;
    box-shadow: 0px 0px 0px 5px #005BD3, 0px 0px 0px 3px #FFF, 0px 0px 0px 1.5px #333;
}



#importProduct {
    color: var(--font-dark, #323232);
    font-family: 'Inter', sans-serif;
    font-size: 12px;
    font-weight: 600;
    line-height: 130%;
    border-radius: 6px;
    background: transparent;
    border: transparent;
    box-shadow: none;
}

.setup-innerimageBox {
    position: relative;
    bottom: 12px;
}


























/* css for mobile view */

@media only screen and (max-width: 800px) {

    nav {
        padding: 0 14px;
        gap: 5px;
    }


    .web-logo {
        display: none;
    }
    
    .mobile-logo {
        display: block;
    }

    .searchBox {
        width: 90%;
    }

    .nav-input {
        width: 90%;
        height: 37px;
        padding: 8px;
        border-radius: 8px;
    }   

    

    .left-navButtons {
        width: 29%;
        display: flex;
        gap: 0px ;
        align-items: center;
        justify-content: space-between;
        margin-left: 5px;
    }

    .notify {
        width: 32px;
        height: 32px;
        background: none;         
    }


    .mobile-profileName {
        border-radius: 6px;
        padding: 7px 5px;
        border: none;
        background: #36FBA1;
        margin-left: 8px;
        color: rgba(0, 0, 0, 0.40);
        font-family: 'Inter', sans-serif;
        font-size: 12px;
        font-weight: 500;
        line-height: 130%;
    }

    .profileName {
        display: none;
    }

    .mobile-profileName {
        display: block;
    }

    main {
        width: 100%;
        height: 300px;
        margin: 28px auto;
    }

    .planSelectionBox {
        position: relative;
        height: 131px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;  
        justify-content: space-between;
        padding: 17px 17px;
        border-radius: 0px;
    }

    .plans-span {
        display: block;
    }

    .planSelectionBox > h2 {
        font-size: 15px;
    }

    .web-cancelButton {
        display: none;
    }

    .mobile-cancelButton {
        position: absolute;
        left: 90%;
        bottom: 71px;
        display: block;
        border: none;
        background: transparent;
    }

    .select--plan {
        width: 99px;
        height: 28px;
        padding-top: 5px;
        border-radius: 6px;
    }


    .mainSetupContainer {
        border-radius: 0;
       
    }

    .setup-guide > div > h2 {
        font-size: 15px;
    }

    .personalized {
        font-size: 14px;
        margin: 9px 0 16px 0;
    }


    .firstCus-box > h2 {    
    font-size: 13px;
    font-weight: 600;
    line-height: 140%;
}

    .mobileUnviewedImg {
        display: none;
    }

.first-setup {
    border-radius: 10px;
    background: #F3F3F3;
    padding: 14px 8px;
    margin-bottom: 12px;
}



.setupInfo-innerbox > a {
    color: var(--states-focused, #005BD3);
    font-size: 14px;
    text-decoration: none;
}

.setupInfo-innerbox > button, .doubleBtnBox > button {
    margin-top: 15px;
}


.profileDropdown {
    left: 21.4%;  
    padding: 0px;
    z-index: 1;
}

#littleProfile {
    width: 96%;
    margin: 5px auto;
    padding: 10px 5px;
}

.notifyDropdown {
    left: 3.3%;
    width: 93%;
    margin: 12px auto;
    height: 120px;
    padding: 16px;
    z-index: 1;
}













}


/* for smaller screens  */


@media only screen and (max-width: 376px) {

    .plans-span {
        display: inline;
    }

    .planSelectionBox {
        height: 127px;
        
    }

    .profileDropdown {
        left: 12.4%;  
        padding: 0px;
        z-index: 1;
    }

    .notifyDropdown {
        height: 105px;
    }
    

    #alertsInfo {
        padding: 7px;
    }

    #alertsInfo > p {
        font-size: 12px;
    }




}


@media only screen and (max-width: 320px) {

    .plans-span {
        display: inline;
    }

    .planSelectionBox {
        height: 127px;
        
    }

    .profileDropdown {
        left: 0;  
        padding: 0px;
        z-index: 1;
    }

    .notifyDropdown {
        height: 117px;
    }
    

    #alertsInfo {
        padding: 7px;
    }

    #alertsInfo > p {
        font-size: 12px;
    }


}